#reviews {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reviews .heading {
  --ADAP_text: 60;
  --ADAP_text_cut: 0.5;
  --ADAP_width: 340;
  --ADAP_width_cut: 0.5;
  background-color: #c6b497;
  border-radius: 66px 0px 66px 0px;
  padding: 20px 30px;
  text-align: center;
  width: 100%;
  font-family: "Zen Loop";
  margin-bottom: 84px;
  margin-top: 90px;
  color: #fff;
}

#reviews .review {
  --ADAP_width: 340;
  --ADAP_width_cut: 0.5;
  background-color: #839b97;
  border-radius: 66px 0px 66px 0px;
  margin-bottom: 74px;
  padding: 30px 27px 52px 27px;
  width: 100%;
  color: #fff;
}
#reviews .review .desc {
  --ADAP_text: 14px;
  --ADAP_text_cut: 0.5;
}
